{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="zh-hans">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCMS</title>
    <link href="http://cdn.bootcss.com/foundation/6.2.0/foundation.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">MyCMS</li>
          {% for menu in menu_list %}
          <li><a href="{{ menu.real_link }}">{{ menu.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">{% block main %}None{% endblock %}</div>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/foundation/6.2.0/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
  </body>
</html>
